<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<h1><%= title %></h1>
<form method="POST" action="/problem/verify/">
    <div>
        <p><label for="name">問題名</label></p>
        <input id="name" name="name" type="text" placeholder="Problem Name" required />
    </div>

    <div>
        <p><label for="content">説明 (MarkDown)</label></p>
        <textarea id="content" name="content" rows="10" placeholder="Edit MarkDown" required></textarea>
    </div>

    <div>
        <p><label for="master-user">作成者 (管理者)</label></p>
        <input id="master-user" name="master-user" type="text" value="<%= username %>" disabled required />
    </div>

    <div>
        <button type="submit">確認する</button>
    </div>
</form>

</body>
</html>
