<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<h1><%= title %></h1>
<div>
    <p class="success">問題の作成に成功しました。</p>
    <p>
        <a href="/">戻る</a>
    </p>
</div>

</body>
</html>
